{% extends 'fbase.html' %}

{% block content %}

<div class="jumbotron">

  <form action="{{ url_for('thankyou')}}">

    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" name="firstname">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" name="lastname">
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Sign in</button>

  </form>

</div>

{% endblock %}
